#table{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


td:hover{background-color: #10b9ff;}
table:nth-child(even) {background-color: #f2f2f2;}

th {
    background-color: #593196;
    color: white;
}

.deviceCell{

   align: right;
}

.expRows{
    background-color: antiquewhite;
}

.headerRows{
    background-color: white;
}

.selectpicker{
    position: absolute;
    left: 20px;
    top: 45px;
    height: 30px;
    width: 100px;
}

.bootstrap-select {
    max-width: 200px;
}
.bootstrap-select .btn {
    background-color: #141414;
    border-style: solid;
    border-left-width: 3px;
    border-left-color: #00DDDD;
    border-top: none;
    border-bottom: none;
    border-right: none;
    color: white;
    font-weight: 200;
    padding: 12px 12px;
    font-size: 16px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.bootstrap-select .dropdown-menu {
    margin: 15px 0 0;
}
select::-ms-expand {
    /* for IE 11 */
    display: none;
}

