/* Dashboard Template Style
-------------------------------------------------- */

body {
  font-size: .875rem;
}

#root {
  background-color: white !important;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}



/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  /* color: #fff; */
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

/* Hide default HTML checkbox */

.switch input {
  display: none;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #593196;
}

input:focus+.slider {
  box-shadow: 0 0 1px #593196;
}

input:checked+.slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*
* Custom
*/


.switchtable {
  margin-left: 15px;
}

.room-device {
  color: #fff;
}

.room-room {
  width: 100%;
  text-align: left;
}

.white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

table.switchtable label {
  margin-bottom: 0px;
}
table.switchtable tr {
  padding: 5px 0px;
}


@media only screen and (max-width: 767px) {
  main h1.h2 {
    margin-left: 40px;
  }
}
