.white{
    color:white;
}

.settings_header{
    color:white;
    background:rgb(89, 49, 150);
    padding-left:10px !important;
}

.pStyle{
    background:rgb(249, 248, 252);
}
.inside_div{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}


.width{
    width:50%;
}

.rounded_corner{
    border-radius: 10px !important;
    margin-top: 50px !important;
    border: lightgrey solid 1px;

}
.rounded_corner_top{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;

}
.done_button{
    margin-left:10px;
    border-radius:3px !important;

}
.form{
    background:rgb(249, 248, 252);
}