/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  /* padding-top: .5rem; */
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

/* @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  } */

.sidebar .nav-link {
  font-weight: 500;
  /* color: #333; */
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  /* color: #999; */
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

#sidenav {
  width: 180px;
  padding-left: 0px;
  padding-right: 0px;
}

#sidenav ul li {
  list-style: none;
}

#sidebar-toggle-button {
  display: none;
  padding: 1px 5px;
  position: absolute;
  left: 180px;
  background-color: #fff;
  z-index: 1000;
}

#sidenav.showSidebar {
  margin-left: 0px !important;
}

#navbar-settings-icon {
  padding: 5px;
  bottom: 0px;
  width: 99%;
  z-index: 100;
}

.navbar-top-button {
  width: 49.99%;
}

@media only screen and (max-width: 767px) {
  #sidenav {
    margin-left: -180px;
  }
  #sidebar-toggle-button {
    display: block;
  }
}